%h3 
  %strong= @program.meta.moviedescription.title
  %br
  /DEMO DOELEINDEN?
  /%small.code= @program.created_at

  
.moviedescription
  %p.moviedescriptionp 
    = @program.meta.moviedescription.description

  