.col_m
  %h4 Dune
  %br
  %br
  %p
    A beginning is a very delivate time,
  %p
    know then that it is the year
    .caps ten thousand one-nineteen-one.
    the know universe is ruled by the
    %em Padishah
    emperor
    %strong Shaddam IV.
  %p
    my father
  %p
    In this time, the most precious substance in the entire universe
    is the
    %strong Spice-melange.

  %ol
    %em The spice
    %li extends life
    %li expands conscousness
    %li
      is
      %strong vital
      for space travel.

  %p
    The spice can be found on one planet only in the entire universe.

  %p
    That planet is called
    %em Arakis
    also known as

  %p
    %strong Dune

.col_m
  %h4 Starting in 2003
  %p
    Sense started out as
    %em visual jockeys
    in the Amsterdam Dance Scene of early 2000.

  %p
    Back then veejaying was still mostly done using
    %strong DVDs and even VHS tapes.
    We didn’t even want to touch that, and came out with desktop computers,
    a mountain of sample footage and early mix programs like
    %em Resolume
    and
    %em Visual Jockey.
  %p
    Sense stood out with a
    %strong highly adaptive
    visual set that would later be characterized as
    %em Nu-veejaying.

.col_m
  .stars.text-center{:width => "100%"}
    .fa.fa-star
    .fa.fa-star
    .fa.fa-star
  %br
  %hr
  %br

  %p
    We've reached a point in our civilization
    %br
    where counterculture has mutated into a self-obsessed aesthetic vacuum.

  %p
    So while hipsterdom is the end product of all prior countercultures,
    %br
    it's been stripped of its subversion and originality.

  %p
    And is leaving a generation pointlessly obsessing over fashion,
    faux individuality, cultural capital and the commodities of style.






/
  .header_m
    %span.light
      %em Once,
      we were
    %br
    %heavy
      %em Veejays

.header_m
  %span.light
    %em
      %small
        The dead end
        %br
        of Western civilization
  %br
  %heavy
    %em Hipster
