%nav#footer.navbar.navbar-default.navbar-fixed-bottom
  %span.phone
    020-3200981
  %span.separator
    | 
  %span.address
    begijnensteeg 1, 1012PN Amsterdam
  %span.separator
    | 
  %span.contact
    = link_to 'Contact', sense_contact_path, class: 'btn btn-warning btn-xs'