// Render Shaders
= render "../assets/javascripts/nabu_themes/_shared/mixer/shaders/blendmodes2"

// Render menu
#sidebar
  #button-home.btn.btn-material-grey-100
    .glyphicon.glyphicon-home
  #button-content.btn.btn-material-grey-800
    .glyphicon.glyphicon-align-justify
  #button-play.btn.btn-material-grey-800
    .glyphicon.glyphicon-play
  #button-beat.btn.btn-material-sense-yellow
    BEAT
  #button-cat.btn.btn-material-sense-yellow
    SCRT
  #button-blend.btn.btn-material-blue-600
    BLND
  #button-mix.btn.btn-material-blue-600
    MIX
  #button-cont.btn.btn-material-sense-yellow
    VID

  #button-fullscreen.btn.btn-material-grey-800
    .glyphicon.glyphicon-resize-full

  .background

#content{"data-is_visible"=>"true"}
  // content goes here
  // content is taken from the channel settings
  // untill we get bored from that :p


#footer
  #typer
    %h1.title
      %span.small Now playing:
      %span#program_title collection of videos from the account
    %h2.subtitle#program_description
      Actually Some have their crosses and their golden gates.
      %br
      Well she is the grace I wear when I lose my faith
    #logo_smaller
      = image_tag 'nabu_themes/sense/sense_logo_smaller.png'
    .background

// add a vignet
#vignet

// add the video &c necc. for the mixer
#videos
  // TODO this should be done through a generateor
  // VIDEO 1
  %video#video1.hidden.video1_active{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true, :preload=>'auto'}
  // %video#video1_a.hidden.video1_active{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true, :preload=>'auto'}
  %video#video1_b.hidden{:crossorigin=>"anonymous", :controls=>true, :autoplay=>false, :loop=>true}

  // VIDEO 2
  %video#video2.hidden.video2_active{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true, :preload=>'auto'}
  //%video#video2_a.hidden.video2_active{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true, :preload=>'auto'}
  %video#video2_b.hidden{:crossorigin=>"anonymous", :controls=>true, :autoplay=>false, :loop=>true}

  // VIDEO 3 ( boosting base layer )
  // base layer
  %video#video3.hidden.video3_active{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true, :preload=>'auto'}
  //%video#video3_a.hidden.video3_active{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true, :preload=>'auto'}
  %video#video3_b.hidden{:crossorigin=>"anonymous", :controls=>true, :autoplay=>false, :loop=>true}

// GIF 1
#gif_containers
  // %img{ id:"gif_image1", "rel:auto_play":"1"}
  // gif 1
  //%img{"src":"http://nabu.sense-studios.com/assets/nabu_themes/sense/slowclap.jpg", id:"gif_image1", "rel:animated_src":"http://nabu.sense-studios.com/assets/nabu_themes/sense/slowclap.gif", "c_w":"512", "c_h":"512", "rel:auto_play":"1"}
  //%img{ id:"gif_image1", "rel:auto_play":"1"}
  // "c_w":"512", "c_h":"512",

// GIF 2
// #gif_container2
// gif 2
//%img{ "src":"http://nabu.sense-studios.com/assets/nabu_themes/sense/slowclap.jpg", id:"gif_image2", "rel:animated_src":"http://nabu.sense-studios.com/assets/nabu_themes/sense/slowclap.gif",  "c_w":"512", "c_h":"512", "rel:auto_play":"1"}


// #buffers.hidden
// TODO this should be done through a generateor
%canvas#buffer1.hidden
%canvas#buffer2.hidden
%canvas#buffer3.hidden
%canvas#buffer4.hidden

%canvas#canvas
%canvas#glcanvas
