// Render Shaders
= render "../assets/javascripts/nabu_themes/_shared/mixer/shaders/blendmodes2"

// Render menu
#sidebar
  #button-play.btn.btn-material-grey-800
    .glyphicon.glyphicon-align-justify
  #button-user.btn.btn-material-grey-800
    .glyphicon.glyphicon-play
  #button-beat.btn.btn-material-sense-yellow
    BEAT
  #button-cat.btn.btn-material-sense-yellow
    CAT.
  #button-menu.btn.btn-material-blue-600
    BLND.
  #button-cont.btn.btn-material-red-500
    CONT.

  .background

#content
  // content goes here
  // content is taken from the channel settings
  // untill we get bored from that :p


#footer
  %h1.title
    %span.small Now playing:
    %span#program_title collection of videos from the account
  %h2.subtitle#program_description
    Actually Some have their crosses and their golden gates.
    %br
    Well she is the grace I wear when I lose my faith
  #logo_smaller
    = image_tag 'nabu_themes/sense/sense_logo_smaller.png'
  .background

// add a vignet
#vignet

// add the video &c necc. for the mixer
%video#video1.hidden{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true}
%video#video2.hidden{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true}
%video#video3.hidden{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true}

%canvas#buffer1.hidden
%canvas#buffer2.hidden
%canvas#buffer3.hidden
%canvas#buffer4.hidden

%canvas#canvas
%canvas#glcanvas
