// Render Shaders
= render "../assets/javascripts/nabu_themes/_shared/mixer/shaders/blendmodes2"

%video#video1.hidden{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true}
%video#video2.hidden{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true}
%video#video3.hidden{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true}

%canvas#buffer1.hidden
%canvas#buffer2.hidden
%canvas#buffer3.hidden
%canvas#buffer4.hidden

%canvas#canvas
%canvas#glcanvas
