#sidebar
  #button-play.btn.btn-material-grey-800
    .glyphicon.glyphicon-align-justify
  #button-user.btn.btn-material-grey-800
    .glyphicon.glyphicon-play
  #button-beat.btn.btn-material-sense-yellow
    BEAT
  #button-cat.btn.btn-material-sense-yellow
    CAT.
  #button-menu.btn.btn-material-blue-600
    BLND.
  #button-cont.btn.btn-material-red-500
    CONT.

  .background


#content
  // content goes here
  =# render :partial => "nabu_themes/mixer/example_views"


#footer
  %h1.title
    %span.small Now playing:
    %span#program_title collection of videos from the account
  %h2.subtitle#program_description
    Actually Some have their crosses and their golden gates.
    %br
    Well she is the grace I wear when I lose my faith
  #logo_smaller
    = image_tag 'nabu_themes/sense/sense_logo_smaller.png'
  .background

#vignet

%video#video1.hidden{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true}
%video#video2.hidden{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true}
%canvas#canvas

:css
  .grey_back {
    background-color: #a5a5a5;
    color: #333333;
    font-weight: 600;

  }

  .white_back {
    background-color: #f5f5f5;
    color: #666666;
    font-weight: 100;
  }

:javascript
  // set up renderer
  var options = {}
  var r = new Renderer(options)
  var b = new BPM()
  var c = new Control()
  var f = new Filemanager()
  r.addModule(b)
  r.addModule(c)
  r.addModule(f)
  r.init()

  // some more settings
  r.blendingMode = blendingModes.hardLight

// SET UP BUTTONS
:javascript
  // hook up videos
  $('#button-user').click( function() {
    if (document.getElementById('video1').paused) {
      document.getElementById('video1').play();
      document.getElementById('video2').play();
    }else{
      document.getElementById('video1').pause();
      document.getElementById('video2').pause();
    }
  });

  $('#button-play').click( function() {
    if ( $(".col_m:eq(0)").css("opacity") == 0 ) {
      $(".header_m:eq(0)").css("opacity", 0).animate({"opacity":1}, 700);
      setTimeout( function() { doTypeOn(".col_m:eq(0)") }, 400 );
      setTimeout( function() { doTypeOn(".col_m:eq(1)") }, 900 );
      setTimeout( function() { doTypeOn(".col_m:eq(2)") }, 1300 );
    } else {
      $(".header_m:eq(0)").css("opacity", 0)
      $(".col_m:eq(0)").css("opacity", 0);
      $(".col_m:eq(1)").css("opacity", 0);
      $(".col_m:eq(2)").css("opacity", 0);
    }
  });

  //var bpms = [ 0, 2, 4, 8, 16, 24, 32, 42, 64, 72, 90, 100, 120, 128, 160, 200, 240, 400 ]
  var bpms = [ 64, 128, 256, 128, 64, 28, 0 ]
  //var cols = [  ]
  var current_bpm = 6
  b.bpm = 28;
  $('#button-beat').click( function() {
    current_bpm += 1
    if ( current_bpm >= bpms.length ) current_bpm = 0
    b.bpm = bpms[current_bpm]
    console.log( "bpm set to: ", bpms[current_bpm])
    $('#button-beat').text( bpms[current_bpm] )
  })

  $('#button-cat').click( function() {
    v1 = document.getElementById('video1')
    v2 = document.getElementById('video2')
    v1.currentTime = Math.random() * v1.duration
    v2.currentTime = Math.random() * v2.duration
  })

  var blms = [ blendingModes.add, blendingModes.lighten, blendingModes.hardLight, blendingModes.darken, blendingModes.softLight, blendingModes.normal ]
  var blend_names = ["add", "light", "hard", "dark", "soft", "norm"]
  var current_blm = 0
  $('#button-menu').click( function() {
    current_blm += 1
    if ( current_blm >= blms.length ) current_blm = 0
    r.blendingMode = blms[current_blm]
    console.log( "blendingMode set to: ", blms[current_blm])
    $('#button-menu').text(blend_names[current_blm])
  })

  $('#button-cont').click( function() {
    f.change_channels()
  })

// SET UP CONTENT (HELPER)
:javascript
  // type on
  function doTypeOn( elm ) {
    var str = $(elm).html(),
        i = 0,
        isTag,
        text;

    (function type() {
        rnd = Math.round( Math.random() * 120 ) + 24
        rc = (0|Math.random()*9e6).toString(36)
        text = str.slice(0, i);
        newt = str.slice(i-rnd, i);
        //console.log(i-r, i)
        text = text + "<span class='white_back'>" + newt + "</span> <span class='grey_back'>" + rc + "</span>";
        i += rnd;

        if (text === str) return;
        $(elm).html( text );
        $(elm).find('.white_back').fadeOut(60)
        $(elm).find('.grey_back').hide().fadeIn(80)
        $(elm).css('opacity', 1)

        var char = text.slice(-1);
        if( char === '<' ) isTag = true;
        if( char === '>' ) isTag = false;
        if (isTag) return type();

        if ( i < str.length ) {
          setTimeout( type, Math.round( Math.random() * 180 ) );
        }else{
          $(elm).html( str )
        }
    }());
  }

  // add more for more colums
  setTimeout( function() { doTypeOn(".col_m:eq(0)") }, 1600 )
  setTimeout( function() { doTypeOn(".col_m:eq(1)") }, 2250 )
  setTimeout( function() { doTypeOn(".col_m:eq(2)") }, 2600 )

  // RENDER CONTENT
  $('#content').html(channelsettings.home)
