#sidebar
  #button-play.btn.btn-material-grey-500
    .glyphicon.glyphicon-play
  #button-user.btn.btn-material-grey-500
    .glyphicon.glyphicon-user
  #button-beat.btn.btn-material-sense-yellow
    BEAT
  #button-cat.btn.btn-material-sense-yellow
    CAT.
  #button-menu.btn.btn-material-sense-yellow
    MENU
  #button-cont.btn.btn-material-red-500
    CONT.

  .background


#content
  .row_m

    .col_m
      %h4 Dune
      %br
      %br
      %p
        A beginning is a very delivate time,
      %p
        know then that it is the year
        .caps ten thousand one-nineteen-one.
        the know universe is ruled by the
        %em Padishah
        emperor
        %strong Shaddam IV.
      %p
        my father
      %p
        In this time, the most precious substance in the entire universe
        is the
        %strong Spice-melange.

      %ol
        %em The spice
        %li extends life
        %li expands conscousness
        %li
          is
          %strong vital
          for space travel.

      %p
        The spice can be found on one planet only in the entire universe.

      %p
        That planet is called
        %em Arakis
        also known as

      %p
        %strong Dune

    .col_m
      %h4 Starting in 2003
      %p
        Sense started out as
        %em visual jockeys
        in the Amsterdam Dance Scene of early 2000.

      %p
        Back then veejaying was still mostly done using
        %strong DVDs and even VHS tapes.
        We didn’t even want to touch that, and came out with desktop computers,
        a mountain of sample footage and early mix programs like
        %em Resolume
        and
        %em Visual Jockey.
      %p
        Sense stood out with a
        %strong highly adaptive
        visual set that would later be characterized as
        %em Nu-veejaying.

    .col_m
      .stars.text-center{:width => "100%"}
        .fa.fa-star
        .fa.fa-star
        .fa.fa-star
      %br
      %hr
      %br

      %p
        We've reached a point in our civilization
        %br
        where counterculture has mutated into a self-obsessed aesthetic vacuum.

      %p
        So while hipsterdom is the end product of all prior countercultures,
        %br
        it's been stripped of its subversion and originality.

      %p
        And is leaving a generation pointlessly obsessing over fashion,
        faux individuality, cultural capital and the commodities of style.






    /
      .header_m
        %span.light
          %em Once,
          we were
        %br
        %heavy
          %em Veejays

    .header_m
      %span.light
        %em
          %small
            The dead end
            %br
            of Western civilization
      %br
      %heavy
        %em Hipster


#footer
  %h1.title
    %span.small Now playing:
    %span#program_title collection of videos from the account
  %h2.subtitle#program_description
    Actually Some have their crosses and their golden gates.
    %br
    Well she is the grace I wear when I lose my faith
  #logo_smaller
    = image_tag 'nabu_themes/sense/sense_logo_smaller.png'
  .background

#vignet

%video#video1.hidden{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true}
%video#video2.hidden{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true}
%canvas#canvas

:css
  .grey_back {
    background-color: #a5a5a5;
    color: #333333;
    font-weight: 600;

  }

  .white_back {
    background-color: #f5f5f5;
    color: #666666;
    font-weight: 100;
  }

:javascript
  // set up renderer
  var options = {}
  var r = new Renderer(options)
  var b = new BPM()
  var c = new Control()
  var f = new Filemanager()
  r.addModule(b)
  r.addModule(c)
  r.addModule(f)
  r.init()

  // some more settings
  r.blendingMode = blendingModes.hardLight

:javascript
  // hook up videos
  $('#button-user').click( function() {
    if (document.getElementById('video1').paused) {
      document.getElementById('video1').play();
      document.getElementById('video2').play();
    }else{
      document.getElementById('video1').pause();
      document.getElementById('video2').pause();
    }
  });

  $('#button-play').click( function() {
    if ( $(".col_m:eq(0)").css("opacity") == 0 ) {
      $(".header_m:eq(0)").css("opacity", 0).animate({"opacity":1}, 700);
      setTimeout( function() { doTypeOn(".col_m:eq(0)") }, 400 );
      setTimeout( function() { doTypeOn(".col_m:eq(1)") }, 900 );
      setTimeout( function() { doTypeOn(".col_m:eq(2)") }, 1300 );
    } else {
      $(".header_m:eq(0)").css("opacity", 0)
      $(".col_m:eq(0)").css("opacity", 0);
      $(".col_m:eq(1)").css("opacity", 0);
      $(".col_m:eq(2)").css("opacity", 0);
    }
  });

  var bpms = [ 0, 2, 4, 8, 16, 24, 32, 42, 64, 72, 90, 100, 120, 128, 160, 200, 240, 400 ]
  var current_bpm = 0
  $('#button-beat').click( function() {
    current_bpm += 1
    if ( current_bpm > bpms.length ) current_bpm = 0
    b.bpm = bpms[current_bpm]
  })

:javascript
  // type on
  function doTypeOn( elm ) {
    var str = $(elm).html(),
        i = 0,
        isTag,
        text;

    (function type() {
        rnd = Math.round( Math.random() * 120 ) + 24
        rc = (0|Math.random()*9e6).toString(36)
        text = str.slice(0, i);
        newt = str.slice(i-rnd, i);
        //console.log(i-r, i)
        text = text + "<span class='white_back'>" + newt + "</span> <span class='grey_back'>" + rc + "</span>";
        i += rnd;

        if (text === str) return;
        $(elm).html( text );
        $(elm).find('.white_back').fadeOut(60)
        $(elm).find('.grey_back').hide().fadeIn(80)
        $(elm).css('opacity', 1)

        var char = text.slice(-1);
        if( char === '<' ) isTag = true;
        if( char === '>' ) isTag = false;
        if (isTag) return type();

        if ( i < str.length ) {
          setTimeout( type, Math.round( Math.random() * 180 ) );
        }else{
          $(elm).html( str )
        }
    }());
  }

  setTimeout( function() { doTypeOn(".col_m:eq(0)") }, 1600 )
  setTimeout( function() { doTypeOn(".col_m:eq(1)") }, 2250 )
  setTimeout( function() { doTypeOn(".col_m:eq(2)") }, 2600 )
