%video#video1{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true}
%video#video2{:crossorigin=>"anonymous", :controls=>true, :autoplay=>true, :loop=>true}
%canvas#canvas

:javascript
  var options = {}
  var r = new Renderer(options)
  var b = new BPM()
  var c = new Control()
  var f = new Filemanager()
  r.addModule(b)
  r.addModule(c)
  r.addModule(f)
  r.init()
