- @items = @programs[0...4]
- @bg = @items.first.meta.moviedescription.thumbnail if @items.length
#content
  = image_tag @bg, class: 'content-background'
  #showcases.container    
    .row
      = render partial: 'nabu_themes/sense/item', collection: @items