// @import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');               // injected_font_1
// @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400'); // injected_font_2
// @import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');               // injected_font_3

// font-family: 'Cormorant Garamond', serif;
// font-family: 'Cinzel Decorative', cursive;
// font-family: 'Yanone Kaffeesatz', sans-serif;
// font-family: 'Open Sans', sans-serif;

body {
  background-color: #f4f4f4;
  background-image: url() !important;
  font-family: 'Open Sans';
}

h1, h2 {
  //font-family: 'Cinzel Decorative';
  font-family: 'injected_font_1';
  font-weight: 900;

  small {
    font-weight: 100;
  }
}

h3, h4, h5, h6 {
  // font-family: 'Yanone Kaffeesatz', cursive;
  font-family: 'injected_font_3';
  font-weight: 900;
  letter-spacing: 1.1px;
  margin-top: 6px;
  line-height: auto;
  font-variant: small-caps;
  text-transform: lowercase;

  small {
    font-weight: 100;
    opacity: 0.7;
  }
}

a {
  transition-duration: 0.12s;
  padding: 1px 8px;
  border-radius: 2px;

  &:hover {
    text-decoration: none;
  }
}

.secondary-color {}

.background-color {}

.decorative {
  // font-family: 'Cormorant Garamond';
  font-family: 'injected_font_2';
  font-size: 21px;
  font-weight: 300;
  font-style: italic;
}

.header {
  border-bottom: solid 1px rgba(120,120,120,0.7);
  box-shadow: 0px 3px 15px rgba(12,12,12, 0.8);
  filter: brightness(150%);
  opacity: 0.8;
  height: 54px;
  z-index: 1;
  position: relative;

  .logo {
    height: 53px;
    margin-right: 8px;
    margin-left: -15px;
    display: inline-block;
    vertical-align: top;
  }

  .brand {
    // font-family: 'Yanone Kaffeesatz', cursive;
    font-family: 'injected_font_3';
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 12px;
    display: inline-block;
  }

  .nav-link {
    margin-top: 14px;
    display: inline-block;
    font-weight: 900;
    font-size: 12px;

    &:hover {
    }
  }

}

.video_bar {
  width: 100%;
  position: absolute;
  filter: brightness(42%);
  opacity: 0.8;
  z-index: -1;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.43+3,0+66,0+66,0+72,0.31+99 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.43) 0%, rgba(0,0,0,0.43) 3%, rgba(0,0,0,0) 66%, rgba(0,0,0,0) 72%, rgba(0,0,0,0.31) 99%, rgba(0,0,0,0.31) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.43) 3%,rgba(0,0,0,0) 66%,rgba(0,0,0,0) 72%,rgba(0,0,0,0.31) 99%,rgba(0,0,0,0.31) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.43) 3%,rgba(0,0,0,0) 66%,rgba(0,0,0,0) 72%,rgba(0,0,0,0.31) 99%,rgba(0,0,0,0.31) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e000000', endColorstr='#4f000000',GradientType=0 ); /* IE6-9 */

  border-bottom: solid 1px #eee;

  #video_frame {
    background-color: #000;
  }
}

.title_container {
  margin-top: -190px;
  margin-left: 42px;
  z-index: 2;
  position: absolute;

  h1 {
    color: #f5f5f5;
    small {
      color: #c5c5c5;
    }
  }
}


.category_container {

  .category_container_name {
  }

  .videoitems {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    /* align-content: space-around; */
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .videoitem {
    width: 100%; /* mobile first */
    margin: 2%;
    display: inline-block;
    align-self: flex-start;
    cursor: pointer;

    .description {
      opacity: 0;
      height: 0px;
      position: relative;
      z-index: 10;
      top: -36px;
      left: 8px;
      margin-bottom: 24px;
      /* font-family: 'Yanone Kaffeesatz', cursive; */
      font-family: 'Open Sans';
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      text-transform: uppercase;
      transition-delay: 0.18s;
      transition-duration: 0.22s;
    }

    .imageholder {
      overflow: hidden;
      max-height: 320px;
      position: relative;

      .play_button {
        position: absolute;
        color: rgba( 230,230,230,0.8 );
        background-color: rgba(42,42,42,0.7);
        z-index: 2;
        left: calc( 50% - 20px );
        top: calc( 50% - 20px );
        width: 32px;
        height: 32px;
        border-radius: 32px;
        text-align: center;
        transform: scale(1.3);
        font-size: 1px;
        opacity: 0;
        padding-top: 15px;
        transition-delay: 0.12s;
        transition-duration: 0.24s;
        border: solid 1px rgba(124,124,124,0.5)
      }

      .gradient_overlay {
        position: absolute;
        opacity: 0;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
        transition-duration: 0.6s;
      }

      img {
        width: 100%;
        transition-duration: 0.18s;
        position: relative;
        transform: scale(1);
      }
    }
  }

  .videoitem:hover {

    .gradient_overlay {
      opacity: 1;
    }

    .play_button {
      display: inline-block;
      opacity: 1;
      padding-top: 5px;
      padding-left: 2px;
      transform: scale(1);
      font-size: 14px;
    }

    .description {
      opacity: 1;
      top: -6px;
    }

    img {
      position: relative;
      transform: scale(1.1);
    }
  }
}

@media (max-width: 768px) {
  #video_frame { width: 100%; height: 54.5vw; }
  .video_bar  { height: 54.5vw; }
}

@media (min-width: 768px) {
  .videoitem { width: 40% !important; }
  #video_frame { height: 422px; width: 100%; }
  .video_bar { height: 424px; width: 100%; }
}

@media (min-width: 992px) {
  .videoitem { width: 28% !important; }
  #video_frame { height: 546px; }
  .video_bar { height: 548px; }
}

@media (min-width: 1024px) {
}


@media (min-width: 1200px) {
  .videoitem { width: 20% !important; }
  .container { max-width: 1200px !important; }
  #video_frame { height: 658px !important; }
  .video_bar { height: 660px !important; }
}
