.facebook_share.share_button
  .btn.btn-fab.btn-fab-mini.btn-raised.btn-material-facebook.long-shadow-2.share-facebook
    %i.fa.fa-facebook
.twitter_share.share_button
  .btn.btn-fab.btn-fab-mini.btn-raised.btn-material-twitter.long-shadow-2.share-twitter
    %i.fa.fa-twitter
.linkedin_share.share_button
  .btn.btn-fab.btn-fab-mini.btn-raised.btn-material-linkedin.long-shadow-2.share-linkedin
    %i.fa.fa-linkedin
.mail_share.share_button
  .btn.btn-fab.btn-fab-mini.btn-raised.btn-material-mail.long-shadow-2.share-email
    %i.fa.fa-envelope