!!! 5
%html
  %head

  -# favicon
  %link{"rel"=>"icon", "type"=>"image/png", "href"=>"/assets/favicon/Favicon_design.png"}

  :javascript
    // YOU ARE IN THE NABU APPLICATION CONTROLLER

  %body
    = yield
  
  