@font-face {
    font-family: montserrat;
    src: url(/assets/Montserrat-Regular.otf);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

/*
.well.info_block1 {
  position: absolute;
  z-index: 100;
  top: 10px;
  left: 10px;
}

.well.info_block2 {
  position: absolute;
  z-index: 100;
  left: 10px;
  bottom: 24px
}*/
html {
  overflow-y: hidden;
}

#video_player {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /*display: none;*/
  z-index: 1;
  background-color: rgba(42,42,42,0.82);
}

#video_frame {
  top: 0 !important;
  height: 100% !important;
}

/* my own styling for the map, not sure if that is canvas or not */
#map {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#close_button {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10000;
  /*display: none;*/
  background-color: whitesmoke;
  color: #da291c;
}

/* styling for the actual map */
#map-canvas {
	margin: 0;
	padding: 0;
	height: 400px;
	max-width: none;
}

#map-canvas img {
	max-width: none !important;
}

/* extra styling for the popup/ infowindow */
/*.gm-style-iw { */
.gva_style {
	width: 450px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);

  border-radius: 0 0 0 0;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  -webkit-border-image: -webkit-gradient(to bottom, #ffffff 0%,#ffffff 48%,#ffffff 59%,#da291c 59%,#da291c 58.1%) 1 49%;
  -webkit-border-image: -webkit-linear-gradient(to bottom, #ffffff 0%,#ffffff 48%,#ffffff 59%,#da291c 58.1%,#da291c 100%) 1 49%;
  -moz-border-image: -moz-linear-gradient(to bottom, #ffffff 0%,#ffffff 48%,#ffffff 59%,#da291c 58.1%,#da291c 100%) 1 49%;
  -o-border-image: -o-linear-gradient(to bottom, #ffffff 0%,#ffffff 48%,#ffffff 59%,#da291c 58.1%,#da291c 100%) 1 49%;
  border-image: linear-gradient(to bottom, #ffffff 0%,#ffffff 48%,#ffffff 59%,#da291c 58.1%,#da291c 100%) 1 49%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+89,ffffff+89,da291c+90,da291c+90 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 1%, #ffffff 91%, #ffffff 91%, #da291c 91%, #da291c 91%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 1%,#ffffff 91%,#ffffff 91%,#da291c 91%,#da291c 91%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 1%,#ffffff 91%,#ffffff 91%,#da291c 91%,#da291c 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#da291c',GradientType=0 ); /* IE6-9 */
}

#iw-container {
	margin-bottom: 10px;
  height: 160px;
}

#iw-container .iw-title {
	font-family: montserrat, sans-serif;
  /*font-weight: 400;*/
	font-size: 22px;
	padding: 10px;
	background-color: #DA291C;
	color: white;
	margin: 0;
	border-radius: 0 0 0 0;
}

#iw-container .iw-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 0px;
  padding: 0px 5px 0px 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 445px;
}

.iw-content .button_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(255,0,0,0.4);*/
  z-index: 10;
  cursor: pointer;
}

.iw-content .play_trailer {
  color: #DA291C;
  background-color: white;
  top: 44%;
  left: 0px;
  max-width: 60%;
  line-height: 22px;
  letter-spacing: 0.8px;
  font-size: 11px;
  position: absolute;
  font-weight: 700;
  padding: 0px 5px 0px 8px;
  pointer-events: none;
  /* text-shadow: 0px 1px black; */
  /* opacity: 0.82; */
  z-index:2;
}

.iw-content .main_title {
  position: absolute;
  top: 58%;
  left: 0px;
  max-width: 60%;
  line-height: 22px;
  letter-spacing: 0.8px;
  font-size: 14px;
  pointer-events: none;
  z-index:2;
}

.iw-content .main_title h1 {
  font-family: 'montserrat', sans-serif;
  display: inline-block;
  color: white;
  background-color: #DA291C;
  padding: 2px 10px 2px 8px;
  font-size: inherit;
  margin: 0;
  text-transform: uppercase;
  font-weight: 100;
  pointer-events: none;
}

.iw-content .content_left {
  float:left;
  width:61.8%;
  background-color: black;
  height: 158px;
}

.iw-content .content_right {
  float:right;
  width: 38.2%;
  padding: 0px 2px 0px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 158px;
}

.iw-content .content_right  h1 {
  color: #DA291C;
  font-size: 14px;
  margin-top: 1px;
  font-weight: 600;
  letter-spacing: 1.1px;
}

.iw-content .content_right  #full_movie_play {
  color: #DA291C;
  box-shadow: 0px 2px 9px rgba(0,0,0,0.18);
  text-align: center;
  padding: 8px 12px;
  z-index: 2;
  /* border: solid 1px #EEE; */
  /* width: 16px; */
  /* margin: 0; */
  margin: 10px 12px 8px 4px;}

.iw-content .content_right .info_block {
  display: inline-block;
  float: right;
  color: #AAA;
  font-size: 10px;
  display: inline-block;
  padding: 10px 4px;
  width: 95px;
  line-height: 12px;
  width: 95px;
  overflow: hidden;
  /* float: right; */
}

.iw-content .content_right a {
  color: #DA291C;
}

.iw-content .shadow_helper {
  position: absolute;
  /* background-color: red; */
  top: 0;
  left: 0;
  width: 61.8%;
  height: 158px;
  box-shadow: inset 0px -24px 59px black;
  pointer-events: none;
  /* z-index: -1; */
}

.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;
}

.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}

.iw-bottom-gradient {
  display: none;
  position: absolute;
  width: 326px;
  height: 25px;
  bottom: 15px;
  right: 0px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
